# Environnement virtuel Python
venv/
env/

# Fichiers Python compilés
__pycache__/
*.py[cod]
*$py.class
*.so

# Images de test
*.raw
*.img
*.dd

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log

# OS
.DS_Store
Thumbs.db
